* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-family: $font-family-base;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
