.result-data {
  &__content {
    background-color: #fff;
    min-height: 264px;
    transition: box-shadow .2s ease-in-out;
    border: 1px solid #ddd;
    padding: 0 180px 0 246px;
    margin: 15px 0;
    display: block;
    position: relative;

    &:hover {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
      text-decoration: none;
    }

    &-info {
      padding: 7px 15px;
      border-right: 1px solid #dddfe2;
      min-height: 264px;
    }


  }

  &__gallery {
    position: absolute;
    left: 0;
    min-width: 264px;
    min-height: 182px;

    &-big {
      height: 182px;
      width: 249px;
      background-position: 50%;
      background-repeat: no-repeat;
      overflow: hidden;
      background-size: cover;

      .text-Badge-list {
        display: inline;
        border-radius: 2px;
        padding-top: 3px;
        padding-bottom: 3px;
        background-color: #28871c;
        line-height: 16px;
        text-align: center;
        padding: 5px 8px;
        color: #fff;
        font-size: 12px;
        position: absolute;
        left: -5px;
        top: 12px;
      }
    }

    &-thumbnial {
      width: 250px;

      &-item {
        width: 49px;
        height: 40px;
        float: left;
        margin-right: 1px;
        margin-top: 1px;
      }
    }
  }

  &__hotelinfo {
    position: relative;

    &-title {
      color: #3c3c3c;
      font-size: 16px;
      word-wrap: break-word;
      font-weight: 600;
      margin-bottom: 0;

      &:hover {
        text-decoration: underline;
        color: #00adff;
      }

      & .hotel-gca {
        i {
          color: #f3964a;
          font-size: 14.3px;
        }

        span {
          font-size: 13px;
          font-weight: 600;
        }
      }
    }

    &-starAreaLine {
      .start-rating {
        font-size: 13px;
        margin-right: 3px;
      }
    }

    & .areacity-name {
      .ficon {
        font-size: 13px;
        margin-right: 3px;
      }

      .areacity-text {
        font-size: 12px;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-locationPills {
      margin-bottom: 3px;

      li {
        display: inline-block;

        span {
          border: 1px solid #000;
          border-radius: 2px;
          font-size: 12px;
          padding: 3px 7px;
          display: inline-block;
          color: #000;
          font-weight: 600;
          line-height: 14px;
          margin-right: 3px;
        }
      }
    }

    &-pill-wrapper {
      margin-bottom: 3px;

      li {
        border: 1px solid #32a923;
        display: inline-block;
        margin-right: 3px;
        line-height: 14px;
        color: #32a923;
        border-radius: 2px;
        font-size: 12px;
        padding: 3px 7px;
        font-weight: 600;
      }
    }

    &-noCreditCard {
      .ficon-credit-card-required {
        margin-right: 7px;
        font-size: 16px;
        margin-bottom: 0;
        color: #2a2a2e;
      }

      span {
        color: #2a2a2e;
        font-size: 12px;
        font-weight: 600;
      }
    }

    &-guestRecommended {
      i {
        margin-right: 7px;
        font-size: 16px;
      }

      span {
        display: inline;
        margin: 0;
        line-height: 1.8;
        font-size: 12px;
        font-weight: 600;
        color: #8660c7;
        vertical-align: middle;
      }
    }

    &-agoda-home {
      .agoda-homes-title {
        background: linear-gradient(90deg, #ff567d, #fe9a8b);
        color: #fff;
        padding: 4px 8px;
        font-size: 11px;
        border-radius: 5px;
        display: inline-block;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-right: 6px;
        font-weight: 600;
      }

      .agoda-homes-text {
        font-size: 12px;
        font-weight: 600;
        padding-right: 3px;
        padding-left: 0;
        color: #000;
      }

      .agoda-homes-badge {
        padding-right: 5px;

        &::before {
          content: "\F101";
          display: inline-block;
        }
      }
    }
  }

  &__price {
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    padding: 8px;
    height: 100%;

    &-review {
      display: inline-block;
      text-align: right;
      vertical-align: top;
      max-width: 100px;

      .score-text {
        color: #333;
        font-size: 14px;
        overflow-wrap: break-word;
        line-height: 12px;
        font-weight: 600;
      }

      .count {
        color: #777;
        font-weight: 600;
        font-size: 12px;
        padding-top: 4px;
        line-height: 12px;
      }
    }

    &-item {
      text-align: right;
    }

    &-number {
      max-width: 100px;
      display: inline-block;
      position: relative;
      margin-left: 5px;

      .review-score-number {
        font-size: 52px;
        line-height: 44px;
      }

      .number {
        color: #fff;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-weight: 600;
        line-height: 44px;
        font-size: 20px;
        margin-left: 4px;
      }
    }

    &-box {
      position: absolute;
      bottom: 0;
      width: 164px;
      margin-bottom: 5px;
      text-align: right;

      .per-night-text {
        font-size: 10px;
        color: #737373;
      }

      .price-final {
        color: #e12d2d;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
      }

      .multi-crossout {
        color: #737373;
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          width: 100%;
          border-top: 2px solid;
          transform: rotate(-10deg);
          border-top-width: 1px;
        }
      }

      .price-currency {
        color: #737373;
        margin-left: 2px;
        font-weight: 400;
      }

      .price-drop {
        background-color: #d8eed5;
        border-radius: 2px;
        display: inline;
        color: #28871c;
        padding: 0 4px;
        position: relative;
        left: 13px;

        .ficon-price-drop {
          position: absolute;
        }

        span {
          font-size: 10px;
          text-align: center;
          margin: 5px 6px 4px 20px;
        }
      }

      .limited-rooms {
        position: relative;
        display: inline-block;
        color: #fff;
        background-color: #e12d2d;
        text-align: center;
        margin-top: 4px;
        right: -13px;
        border-radius: 2px;
        font-size: 13px;
        line-height: 13px;
        font-weight: 600;
        padding: 4px 6px;
      }
    }
  }
}
