@import '../assets/styles/fonts.scss';

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mallory ,sans-serif;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.home {
  background-color: red;
}
