// Colors
$white: #fff;
$white-smoke: #f4f4f4;
$black: #000;
$gray: #999;
$gray-light: #f5f6fa;
$gray-dark: #333;
$primary: #000;
$secondary: #777;

// Borders
$border-radius-base: 3px;
$border-radius-medium: 6px;
$border-radius-large: 12px;

// Fonts
$font-family-base: 'Source Sans Pro', sans-serif;

$font-size-small: 12px;
$font-size-base: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;

$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

// Typography
$line-height-base: 1;
