// Colors
$white: #fff;
$white-smoke: #f4f4f4;
$black: #000;
$gray: #515b62;
$gray-light: #eee;
$gray-dark: #333;
$primary: #000;
$secondary: #777;
$color-link: #5392f9;
$link-hover: #75a8f9;
$pink-light: #999;
$color73: #737373;
$color2a: #2a2a2e;
$colore9: #e9ebee;
$colorf8: #f8f7f9;
$color0a: #0a4867;
$black-rgba: rgba(0, 0, 0, .75);
$border-rgb: rgb(83, 146, 249);
$color-shadow: rgba(0, 0, 0, .2);

// Borders
$border-radius-base: 3px;
$border-radius-medium: 6px;
$border-radius-large: 12px;

// Fonts
$font-family-base: mallory,sans-serif;

$font-size-small: 12px;
$font-size-link: 13px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 22px;

$font-weight-base: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

// Typography
$line-height-base: 1;
