.header {
  padding: 0 16px;
  display: flex;
  align-items: center;

  &__item {
    &-left {
      display: flex;
      align-items: baseline;
    }

    &-right {
      flex: 1;
      text-align: right;
    }
  }

  &__logo {
    & a {
      display: inline-block;
    }

    &-link {
      width: 89px;
      height: 37px;
    }
  }

  &__link {
    display: inline-block;
    margin-left: 30px;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      bottom: 10px;
      top: 10px;
      border-right: 1px solid $gray-light;
    }

    &-item {
      list-style-type: none;
      display: inline-block;
      padding: 0 10px;
      font-weight: 700;
      line-height: 60px;
      min-width: 44px;

      &:hover {
        cursor: pointer;
      }

      & .icon-agoda-home {
        padding-right: 5px;
        font-size: $font-size-link;
      }

      & a {
        text-decoration: none;
        font-size: $font-size-link;
        color: $black-rgba;

        &:hover {
          text-decoration: none;
          color: $link-hover;
        }
      }
    }
  }

  &__EllipsisLinkContainer {
    padding: 0 20px;
    display: flex;

    &:hover {
      cursor: pointer;
    }

    & span {
      font-size: 30px;
      line-height: 0;
    }
  }

  &__group {
    display: inline-block;

    &-signin {
      background: transparent;
      border: none;
      color: $color-link;
      padding: 10px;
      font-size: $font-size-base;
      line-height: 20px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0 3px;
    }

    &-signup {
      padding: 10px;
      border: 1px solid $border-rgb;
      border-radius: 3px;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-link;
      font-size: $font-size-base;
      font-weight: 600;
      margin: 0 3px;
    }
  }

  &__subgroup {
    display: inline-block;
  }

  &__icon-language {
    background-image: url("//cdn6.agoda.net/images/desktop/bg-sprite-flags.png");
    background-position: -48px -460px;
    width: 24px;
    height: 18px;
    vertical-align: text-top;
    display: inline-block;
    background-repeat: no-repeat;
    margin: 0 10px;
  }

  &__currency-trigger {
    display: inline-block;
    margin: 0 10px;
  }
}
