.header-search {
  width: 100%;
  background-color: #515b62;
  padding: 11px 0;

  &__content {
    display: flex;

     &-city {
      width: calc(100% - 742px);
      display: inline-block;
      margin: 0 3px;
      position: relative;

      & .single-select-wrapper {
        margin-bottom: 0;
      }

      & .search-input {
        height: 48px;
        border-radius: 6px;
        padding-left: 50px;
        font-size: 16px;

        &:hover {
          cursor: pointer;
        }
      }

      & .items-center {
        display: none;
      }

      & .icon-search {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        left: 15px;

        &:hover {
          cursor: pointer;
        }
      }
     }

     &-startdate {
      display: inline-block;

      & .vdp-datepicker {
        & input {
          height: 48px;
          width: 177px;
          border-bottom-left-radius: 6px;
          border-top-left-radius: 6px;
          border: none;
          text-align: center;
          padding-left: 20px;
          font-size: 14px;
          color: #333;
          padding-bottom: 20px;

          &:hover {
            cursor: pointer;
          }
        }

        & .icon-check-in {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }

        & .input-day {
          position: absolute;
          bottom: 0;
          left: 32%;
        }
      }
     }

     &-endate {
      display: inline-block;

      & .vdp-datepicker {
        & input {
          height: 48px;
          width: 177px;
          border-bottom-right-radius: 6px;
          border-top-right-radius: 6px;
          border: none;
          border-left: 1px solid #999;
          text-align: center;
          color: #333;
          font-size: 14px;
          padding-bottom: 20px;
          padding-left: 20px;

          &:hover {
            cursor: pointer;
          }
        }

        & .icon-check-in {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
        }

        & .input-day {
          position: absolute;
          bottom: 0;
          left: 32%;
        }
      }
     }

     &-addroom {
       display: inline-block;
       margin: 0 3px;

       & input {
        width: 240px;
        height: 48px;
        border-radius: 6px;
        border: none;
       }
     }

     &-search {
       display: inline-block;

       & input {
         border-radius: 6px;
         background-color: #488bf8;
         color: #fff;
         box-shadow: 0 4px 10px 3px rgba(0,0,0,.2);
         height: 48px;
         font-size: 14px;
         font-weight: 700;
         border: none;
         text-transform: uppercase;
         width: 130px;
       }
     }
  }

  @media screen and (min-width: 1440px) {
    &__content {
      width: 1400px;
      padding: 0;
      margin: 0 auto;
    }
  }
}
