.tab-filter {
  &__content {
    margin-bottom: 24px;
    margin-top: 30px;
    position: relative;

    & ul {
      &::before {
        content: '';
        min-width: 10px;
        border-right: 1px solid #dddfe2;
        display: inline-block;
      }

      &::after {
        content: '';
        display: inherit;
        border-bottom: 1px solid #dddfe2;
      }

      & li {
        &:first-child {
          border-left: 1px solid #dddfe2;
        }
      }
    }

    &-item {
      display: inline-block;
      text-align: center;

      & input {
        display: none;
      }

      & label {
        background: #f9f9fa;
        color: #2a2a2e;
        min-width: 220px;
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: #dddfe2;
        padding: 17px 20px;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 700;
        border-top: 1px solid;
        border-top-color: #dddfe2;

        &:hover {
          cursor: pointer;
          color: #75a8f9;
        }
      }
    }

    & .active {
      & label {
        background: #fff;
        color: #5392f9;
        border-top: 5px solid #5392f9;
        padding-top: 13px;
        border-bottom: none;
      }
    }
  }

  &__toggle {
    position: absolute;
    right: 0;
    top: 0;

    &-icon {
      font-size: 10px;
      margin: 0 3px;
    }

    &-text {
      color: #8660c7;
      font-size: 14px;
    }

    .tab-switch-text {
      position: absolute;
      top: 25px;
      right: 32px;
      text-transform: uppercase;
      color: #90949c;
    }
  }
}
