.header-filter {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
  background: $white;
  height: 68px;
  display: flex;
  padding: 16px 0;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2
  }

  &__price {
    display: inline-block;
  }

  &__star-rating {
    display: inline-block;

    .width-text {
      max-width: 83px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }
  }

  &__label {
    display: inline-block;
    padding-right: 8px;
  }

  &__popular {
    display: inline-block;
  }

  &__area {
    display: inline-block;
  }

  &__reviewscores {
    display: inline-block;
  }

  &__more {
    display: inline-block;
  }

  &__text-search {
    float: right;
    width: 240px;
    position: relative;

    & input {
      border-radius: 18px;
      border: 1px solid $color73;
      height: 34px;
      padding: 6px 12px;
      padding-left: 37px;
      font-size: 14px;

      &:focus {
        outline: none;
      }
    }

    & .text-search-icon {
      position: absolute;
      top: 6px;
      left: 13px;
    }
  }

  & .dropdown-toggle {
    margin-right: 3px;
    display: flex;
    align-items: center;
    padding: 6px 16px;
    border-radius: 18px;
    font-size: 14px;
    color: $color2a;
    background-color: $colore9;
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      background-color: $colorf8;
      color: $color-link;
    }

    &:not(:disabled):not(.disabled):active {
      background-color: $colorf8;
      color: $color-link;
    }



    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: none;
    }
  }

  .show>.btn-secondary {
    &.dropdown-toggle {
      background-color: $colorf8;
      color: $color-link;
    }
  }

  & .dropdown-menu {
    &::before {
      content: "";
      position: absolute;
      border-color: $white transparent;
      left: 24px;
      border-width: 0 7px 8px;
      border-style: solid;
      top: -9px;
    }

    &.show {
      background: $white;
      box-shadow: 0 2px 10px 2px rgba(0, 0, 0, .15);
      border: none;
      border-radius: 5px;
      padding: 24px;
      min-width: 340px;
    }
  }

  & .text-long-dot {
    max-width: 93px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
  }

  & .filter-item-vue {
    &:hover {
      & .label-checkbox {
        color: $link-hover;
        cursor: pointer;
      }

      & .number-start {
        color: $link-hover;
      }

      & .checkmark {
        border-color: $link-hover;
      }
    }

    .container-checkbox-radio {
      position: relative;

      & input {
        display: none;
      }

      .checkmark {
        font-size: 8px;
        border: 1px solid $colore9;
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 1.9;
        position: absolute;
        top: 5px;
        border-radius: 16px;
        left: 0;
        color: $color-link;
      }

      .label-checkbox {
        padding-left: 28px;
        display: inline-block;
        color: $gray-dark;
        font-size: 12px;
      }
    }

    &.active {
      .container-checkbox-radio {
        .checkmark {
          &::after {
            content: "\F1A4";
          }
        }
      }
    }
  }

  & .filter-menu {
    font-size: 14px;
    font-weight: 700;
    color: $gray-dark;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;

    .delete-value-filter {
      font-size: 12px;
      float: right;
    }
  }

  .count-select {
    background-color: $color0a;
    margin-right: 8px;
    width: 20px;
    height: 20px;
    font-size: 10px;
    line-height: 20px;
    display: inline-block;
    border-radius: 50%;
    color: $white;
    padding: 0px;
  }

  .number-start {
    margin-right: 5px;
  }

  .value-select {
    &.show>.btn-secondary {
      &.dropdown-toggle {
        background-color: $color-link;
        color: $white;
      }
    }

    & .dropdown-toggle {
      background-color: $color-link;
      color: $white;

      &::after {
        content: none;
      }
    }

    & .icon-close {
      font-size: 8px;
      background-color: $white;
      color: $black;
      border-radius: 50%;
      padding: 4px;
      width: 17px;
      height: 18px;
      line-height: 11px;
      margin-left: 5px;
    }
  }
}
